<% provide :title, t(".title") %>
<h1><%= t "sample_app" %></h1>
<p>
  <%= t ".first_intro" %>
  <%= link_to t("rails_tutorial_name"), Settings.links.rails_tutorial_org %>
  <%= t ".second_intro" %>
</p>
